<ul>
  <li>
    Автор: {{ author|default:post.author.get_full_name }}
    <a href=
      "{% url "posts:profile" author_loug|default:post.author.username %}"
    >
      все посты пользователя
    </a>
  </li>
  <li>
    Дата публикации: {{ pub_date|default:post.pub_date|date:"d E Y" }}
  </li>
</ul>
<p>{{ text|default:post.text|linebreaks }}</p>
<a href="{% url "posts:post_detail" post.pk %}">Подробная информация</a>
{% if post.group %}
  <p>
    <a href="{% url "posts:group" post.group.slug %}">
      Все записи группы {{ post.group }}
    </a>
  </p>
{% endif %}